$cat-dark-blue: #005589;
$cat-blue: #027DBA;
$cat-green: #02AFA6;
$cat-orange: #FF8F19;

$cat-dark-blue-trans: rgba(0, 84, 138, 0.7);
$cat-blue-trans: rgba(2, 125, 186, 0.7);
$cat-green-trans: rgba(2, 175, 166, 0.7);
$cat-orange-trans: rgba(255, 143, 25, 0.7);