.breadcrumbs{
  list-style: none;
  padding: 14px 0 15px 2px;
  margin: 0;
  display: table;
  li{
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: #9B9B9B;
    margin-right: 6px;
    a{
      color: #9B9B9B;
      text-decoration: none;
    }
  }
  li.last{
    color: $cat-dark-blue;
    margin-right: 0;
    a{
      color: $cat-dark-blue;
    }
  }
}

.cat-blue{
  .breadcrumbs{
    li.last, 
    li.last a{
      color: $cat-blue;
    }
  }
}
.cat-green{
  .breadcrumbs{
    li.last, 
    li.last a{
      color: $cat-green;
    }
  }
}
.cat-orange{
  .breadcrumbs{
    li.last, 
    li.last a{
      color: $cat-orange;
    }
  }
}