#block-ds-extras-hero{
  min-width: $desktop-width;
  height: 198px;
  overflow: hidden;
  
  .block__content{
    position: relative;
  }
  .info{
    width: $desktop-width;
    padding: 0 30px;
    box-sizing: border-box;
    left: 50%;
    margin-left: -($desktop-width/2);
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 40px;
  }
  .hero-background{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -720px;
    z-index: 0;
  }
  
  .hero-title{
    width: 347px;
    float: left;
    position: relative;
    max-height: 63px;
  }
  .hero-icon{
    position: absolute;
    width: 70px;
    height: 70px;
    left: -10px;
    top: 50%;
    margin-top: -40px;
    img{
      width: 70px;
      height: 70px;
    }
  }
  h1{
    font-weight: 600;
    font-family: 'Omnes Semibold';
    margin-left: 80px;
    margin-right: 20px;
    color: $cat-dark-blue;
    font-size: 36px;
  }
  .hero-body{
    font-size: 18px;
    float: left;
    width: 350px;
    color: $cat-dark-blue;
  }
}

.cat-blue{
  #block-ds-extras-hero{
    h1, 
    .hero-body{
      color: $cat-blue;
    }
  }
}
.cat-green{
  #block-ds-extras-hero{
    h1, 
    .hero-body{
      color: $cat-green;
    }
  }
}
.cat-orange{
  #block-ds-extras-hero{
    h1, 
    .hero-body{
      color: $cat-orange;
    }
  }
}