.l-branding{
  width: $desktop-width;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 22px auto 0;
}
.l-branding:after{
  content: "";
  clear: both;
  display: table;
  height: 0;
}

@media only screen and (max-width: $tablet-width){
  .l-branding{
    width: auto;
    min-height: 42px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}