#block-menu-menu-side-menu{
  width: 76px;
  float: left;
  margin-left: 6px;
  padding-top: 5px;
  
  .contextual-links-wrapper{
    display: none !important;
  }
  ul.menu{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.menu li{
    list-style: none;
    border-bottom: solid 1px #9A9A9A;
  }
  ul.menu li.last{
    border-bottom: none;
  }
  ul.menu li ul{
    display: none;
  }
  ul.menu li a{
    font-size: 12px;
    line-height: 32px;
    color: #9A9A9A;
    display: block;
    text-decoration: none;
  }
  ul.menu li.first a{
    line-height: 24px;
  } 
  ul.menu li.last a{
    line-height: 28px;
  }
}
#menu-search-link{
  background: url("../images/menu-side-icons/search.png") no-repeat right center;
}
#menu-atento-link{
  background: url("../images/menu-side-icons/play.png") no-repeat right center;
}
#menu-contact-link{
  background: url("../images/menu-side-icons/mail.png") no-repeat right 6px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #menu-search-link, 
  #menu-atento-link, 
  #menu-contact-link{
    background-size: 15px 15px;
  }
  #menu-search-link{
    background-image: url("../images/menu-side-icons/search-x2.png");
  }
  #menu-atento-link{
    background-image: url("../images/menu-side-icons/play-x2.png");
  }
  #menu-contact-link{
    background-image: url("../images/menu-side-icons/mail-x2.png");
  }
}