#block-menu-block-1{
  background: $cat-dark-blue;
  clear: both;
  padding: 17px 0 14px;
  .menu-block-wrapper{
    width: $desktop-width;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .menu-block-wrapper:after{
    clear: both;
    content: "";
    display: table;
    height: 0;
  }
  ul.menu:after{
    clear: both;
    content: "";
    display: table;
    height: 0;
  }
  ul.menu{
    list-style: none;
    display: table;
    margin: 0 -5px 0 0;
    text-align: right;
    float: right;
    background: url("../images/menu-cross.png");
    background-size: 88px 44px;
    padding: 5px;
    
    > li{
      display: inline-block;
      text-align: left;
      float: left;
    }
    > li > a{
      display: table;
      width: 88px;
      height: 44px;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0;
    }
    > li > a span{
      display: table-cell;
      vertical-align: middle;
    }
    > li.active-trail > a, 
    > li > a:hover{
      background: white;
      color: $cat-dark-blue;
    }
    > li ul{
      display: none;
    }
  }
}

.cat-blue{
  #block-menu-block-1{
    background: $cat-blue;
    ul.menu{
      > li.active-trail > a, 
      > li > a:hover{
        color: $cat-blue;
      }
    }
  }
}
.cat-green{
  #block-menu-block-1{
    background: $cat-green;
    ul.menu{
      > li.active-trail > a, 
      > li > a:hover{
        color: $cat-green;
      }
    }
  }
}
.cat-orange{
  #block-menu-block-1{
    background: $cat-orange;
    ul.menu{
      > li.active-trail > a, 
      > li > a:hover{
        color: $cat-orange;
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #block-menu-block-1{
    ul.menu{
      background-image: url("../images/menu-cross-x2.png");
    }
  }
}