/* Omnes Light */
@font-face {
  font-family: 'Omnes Light'; 
  src: url('../fonts/omnes/Omnes-Light.eot?') format('eot'), url('../fonts/omnes/Omnes-Light.woff') format('woff'), url('../fonts/omnes/Omnes-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}

/* Omnes Regular */
@font-face {
  font-family: 'Omnes Regular'; 
  src: url('../fonts/omnes/Omnes.eot?') format('eot'), url('../fonts/omnes/Omnes.woff') format('woff'), url('../fonts/omnes/Omnes.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

/* Omnes Medium */
@font-face {
  font-family: 'Omnes Medium'; 
  src: url('../fonts/omnes/Omnes-Medium.eot?') format('eot'), url('../fonts/omnes/Omnes-Medium.woff') format('woff'), url('../fonts/omnes/Omnes-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

/* Omnes SemiBold */
@font-face {
  font-family: 'Omnes Semibold';
  src: url('../fonts/omnes/Omnes-Semibold.eot?') format('eot'), url('../fonts/omnes/Omnes-Semibold.woff') format('woff'), url('../fonts/omnes/Omnes-Semibold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

/* Omnes Bold */
@font-face {
  font-family: 'Omnes Bold';
  src: url('../fonts/omnes/Omnes-Bold.eot?') format('eot'), url('../fonts/omnes/Omnes-Bold.woff') format('woff'), url('../fonts/omnes/Omnes-Bold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

/* Calibri Light 
@font-face {
  font-family: 'Calibri Light'; 
  src: url('../fonts/calibri/Calibri-Light.eot?') format('eot'), url('../fonts/calibri/Calibri-Light.woff') format('woff'), url('../fonts/calibri/Calibri-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}
*/
/* Calibri Regular 
@font-face {
  font-family: 'Calibri Regular'; 
  src: url('../fonts/calibri/Calibri.eot?') format('eot'), url('../fonts/calibri/Calibri.woff') format('woff'), url('../fonts/calibri/Calibri.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}
*/
/* Calibri Bold 
@font-face {
  font-family: 'Omnes Bold';
  src: url('../fonts/calibri/Calibri-Bold.eot?') format('eot'), url('../fonts/calibri/Calibri-Bold.woff') format('woff'), url('../fonts/calibri/Calibri-Bold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}
*/