/* Omnes Regular */
@font-face {
  font-family: 'Omnes'; 
  src: url('../fonts/omnes/Omnes.eot?') format('eot'), url('../fonts/omnes/Omnes.woff') format('woff'), url('../fonts/omnes/Omnes.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

/* Omnes SemiBold */
@font-face {
  font-family: 'Omnes'; 
  src: url('../fonts/omnes/Omnes-Semibold.eot?') format('eot'), url('../fonts/omnes/Omnes-Semibold.woff') format('woff'), url('../fonts/omnes/Omnes-Semibold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

/* FranklinGothic Book */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}
/* FranklinGothic Medium */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}
/* FranklinGothic Heavy */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}*/