/* Omnes Light */
@font-face {
  font-family: 'Omnes Light';
  src: url("../fonts/omnes/Omnes-Light.eot?") format("eot"), url("../fonts/omnes/Omnes-Light.woff") format("woff"), url("../fonts/omnes/Omnes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* Omnes Regular */
@font-face {
  font-family: 'Omnes Regular';
  src: url("../fonts/omnes/Omnes.eot?") format("eot"), url("../fonts/omnes/Omnes.woff") format("woff"), url("../fonts/omnes/Omnes.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
/* Omnes Medium */
@font-face {
  font-family: 'Omnes Medium';
  src: url("../fonts/omnes/Omnes-Medium.eot?") format("eot"), url("../fonts/omnes/Omnes-Medium.woff") format("woff"), url("../fonts/omnes/Omnes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* Omnes SemiBold */
@font-face {
  font-family: 'Omnes Semibold';
  src: url("../fonts/omnes/Omnes-Semibold.eot?") format("eot"), url("../fonts/omnes/Omnes-Semibold.woff") format("woff"), url("../fonts/omnes/Omnes-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
/* Omnes Bold */
@font-face {
  font-family: 'Omnes Bold';
  src: url("../fonts/omnes/Omnes-Bold.eot?") format("eot"), url("../fonts/omnes/Omnes-Bold.woff") format("woff"), url("../fonts/omnes/Omnes-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
/* Calibri Light 
@font-face {
  font-family: 'Calibri Light'; 
  src: url('../fonts/calibri/Calibri-Light.eot?') format('eot'), url('../fonts/calibri/Calibri-Light.woff') format('woff'), url('../fonts/calibri/Calibri-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}
*/
/* Calibri Regular 
@font-face {
  font-family: 'Calibri Regular'; 
  src: url('../fonts/calibri/Calibri.eot?') format('eot'), url('../fonts/calibri/Calibri.woff') format('woff'), url('../fonts/calibri/Calibri.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}
*/
/* Calibri Bold 
@font-face {
  font-family: 'Omnes Bold';
  src: url('../fonts/calibri/Calibri-Bold.eot?') format('eot'), url('../fonts/calibri/Calibri-Bold.woff') format('woff'), url('../fonts/calibri/Calibri-Bold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}
*/
/* line 1, ../sass/base/_form-stuff.scss */
::-webkit-input-placeholder {
  color: #0B436A;
  text-transform: lowercase; }

/* line 2, ../sass/base/_form-stuff.scss */
::-moz-placeholder {
  color: #0B436A;
  text-transform: lowercase; }

/* line 3, ../sass/base/_form-stuff.scss */
:-ms-input-placeholder {
  color: #0B436A;
  text-transform: lowercase; }

/* line 4, ../sass/base/_form-stuff.scss */
input:-moz-placeholder {
  color: #0B436A;
  text-transform: lowercase; }

/* line 6, ../sass/base/_form-stuff.scss */
.form-item {
  margin-bottom: 14px; }
  /* line 9, ../sass/base/_form-stuff.scss */
  .form-item input.form-text {
    width: 100%;
    font-size: 13px;
    color: #0B436A;
    border: solid 1px #E5E5E5;
    border-radius: 2px 2px 2px 2px;
    padding: 4px 8px;
    outline: none; }

/* line 19, ../sass/base/_form-stuff.scss */
.form-submit {
  background: #FF7900;
  border: none;
  border-radius: 2px 2px 2px 2px;
  font-family: Omnes Semibold;
  font-weight: 600;
  font-size: 13px;
  color: white;
  padding: 7px 5px 5px;
  min-width: 80px;
  cursor: pointer;
  outline: none; }

/* line 33, ../sass/base/_form-stuff.scss */
.controls .messages {
  margin: 0 0 11px 0; }

/* line 1, ../sass/components/_ field-collection-view.scss */
.field-collection-view {
  padding: 0;
  margin: 0;
  border-bottom: none; }

/* line 1, ../sass/components/_body.scss */
body {
  min-width: 1020px;
  font-family: 'Omnes Regular'; }

/* line 1, ../sass/components/_breadcrumb.scss */
.breadcrumbs {
  list-style: none;
  padding: 14px 0 15px 2px;
  margin: 0;
  display: table; }
  /* line 6, ../sass/components/_breadcrumb.scss */
  .breadcrumbs li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: #9B9B9B;
    margin-right: 6px; }
    /* line 12, ../sass/components/_breadcrumb.scss */
    .breadcrumbs li a {
      color: #9B9B9B;
      text-decoration: none; }
  /* line 17, ../sass/components/_breadcrumb.scss */
  .breadcrumbs li.last {
    color: #005589;
    margin-right: 0; }
    /* line 20, ../sass/components/_breadcrumb.scss */
    .breadcrumbs li.last a {
      color: #005589; }

/* line 28, ../sass/components/_breadcrumb.scss */
.cat-blue .breadcrumbs li.last,
.cat-blue .breadcrumbs li.last a {
  color: #027DBA; }

/* line 36, ../sass/components/_breadcrumb.scss */
.cat-green .breadcrumbs li.last,
.cat-green .breadcrumbs li.last a {
  color: #02AFA6; }

/* line 44, ../sass/components/_breadcrumb.scss */
.cat-orange .breadcrumbs li.last,
.cat-orange .breadcrumbs li.last a {
  color: #FF8F19; }

/* line 1, ../sass/components/_content.scss */
.controls {
  width: 1020px;
  padding: 0 26px 0;
  margin: 0 auto;
  box-sizing: border-box; }

/* line 7, ../sass/components/_content.scss */
.l-content-inner {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box; }

/* line 1, ../sass/components/_footer.scss */
.l-footer {
  width: 1020px;
  padding: 0 26px 44px;
  box-sizing: border-box;
  margin: 0 auto; }
  /* line 6, ../sass/components/_footer.scss */
  .l-footer .l-region--footer:after {
    clear: both;
    content: "";
    height: 0;
    display: table; }

/* line 13, ../sass/components/_footer.scss */
#block-menu-block-2 {
  float: left;
  margin-left: 88px;
  padding-bottom: 44px; }
  /* line 18, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper:after {
    clear: both;
    content: "";
    display: table;
    height: 0; }
  /* line 24, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    /* line 28, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li {
      width: 132px;
      margin-right: 44px;
      float: left;
      list-style: none;
      box-sizing: border-box;
      padding-right: 20px; }
  /* line 38, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a {
    display: block;
    font-family: 'Omnes Semibold';
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #C9C9C9; }
    /* line 45, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .title {
      padding: 2px 0 3px; }
    /* line 49, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .menu-icon {
      position: relative;
      height: 50px;
      width: 50px;
      overflow: hidden;
      opacity: 0.49; }
    /* line 56, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .menu-icon img {
      width: 50px;
      height: 50px; }
    /* line 60, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .icon-hover {
      display: none; }
  /* line 64, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 69, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li > ul {
    display: none; }
  /* line 72, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 77, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li > a {
    display: block;
    padding: 3px 0;
    font-size: 14px;
    color: #C9C9C9;
    text-decoration: none; }

/* line 87, ../sass/components/_footer.scss */
#block-menu-menu-footer-side-menu {
  width: 132px;
  margin-right: 44px;
  float: right; }
  /* line 91, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 96, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li ul {
    display: none; }
  /* line 99, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 104, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li a {
    display: block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 52px;
    padding-bottom: 3px;
    font-size: 18px;
    font-family: 'Omnes Semibold';
    font-weight: 600;
    color: #C9C9C9;
    text-decoration: none; }
  /* line 117, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu a#footer-contact-us {
    background-image: url("../images/menu-icons/footer-contact-us.png"); }

/* line 122, ../sass/components/_footer.scss */
#block-block-1 {
  clear: both;
  float: right;
  width: 142px;
  margin-right: 34px; }
  /* line 127, ../sass/components/_footer.scss */
  #block-block-1 .block__content {
    color: #C9C9C9;
    font-size: 14px; }
    /* line 131, ../sass/components/_footer.scss */
    #block-block-1 .block__content a {
      text-decoration: none;
      color: #C9C9C9;
      font-size: 14px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 141, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu a#footer-contact-us {
    background-image: url("../images/menu-icons/footer-contact-us-x2.png"); } }
/* line 1, ../sass/components/_header.scss */
.l-branding {
  width: 1020px;
  padding: 0 30px;
  margin: 22px auto 0;
  box-sizing: border-box; }

/* line 7, ../sass/components/_header.scss */
.l-branding:after {
  content: "";
  clear: both;
  display: table;
  height: 0; }

/* line 13, ../sass/components/_header.scss */
.site-logo {
  margin-top: 32px;
  float: left;
  width: 145px;
  height: 30px;
  display: block; }
  /* line 19, ../sass/components/_header.scss */
  .site-logo img {
    width: 100%;
    height: auto; }

/* line 1, ../sass/components/_hero.scss */
#block-ds-extras-hero {
  min-width: 1020px;
  height: 198px;
  overflow: hidden; }
  /* line 6, ../sass/components/_hero.scss */
  #block-ds-extras-hero .block__content {
    position: relative; }
  /* line 9, ../sass/components/_hero.scss */
  #block-ds-extras-hero .info {
    width: 1020px;
    padding: 0 30px;
    box-sizing: border-box;
    left: 50%;
    margin-left: -510px;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 40px; }
  /* line 20, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-background {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -720px;
    z-index: 0; }
  /* line 28, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-icon {
    float: left;
    width: 80px; }
    /* line 31, ../sass/components/_hero.scss */
    #block-ds-extras-hero .hero-icon img {
      width: 70px;
      height: 70px; }
  /* line 36, ../sass/components/_hero.scss */
  #block-ds-extras-hero h1 {
    font-weight: 600;
    font-family: 'Omnes Semibold';
    float: left;
    width: 247px;
    margin-right: 20px;
    color: #005589;
    font-size: 36px; }
  /* line 45, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-body {
    font-size: 18px;
    float: left;
    width: 350px;
    color: #005589; }

/* line 55, ../sass/components/_hero.scss */
.cat-blue #block-ds-extras-hero h1,
.cat-blue #block-ds-extras-hero .hero-body {
  color: #027DBA; }

/* line 63, ../sass/components/_hero.scss */
.cat-green #block-ds-extras-hero h1,
.cat-green #block-ds-extras-hero .hero-body {
  color: #02AFA6; }

/* line 71, ../sass/components/_hero.scss */
.cat-orange #block-ds-extras-hero h1,
.cat-orange #block-ds-extras-hero .hero-body {
  color: #FF8F19; }

/* line 1, ../sass/components/_main-menu.scss */
.l-region--branding {
  float: right; }

/* line 4, ../sass/components/_main-menu.scss */
#block-system-main-menu {
  margin: 0 0 22px;
  text-align: right;
  float: left; }
  /* line 9, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu {
    list-style: none;
    margin: -5px -4px -5px -6px;
    padding: 5px 4px 5px 6px;
    display: table;
    text-align: left;
    background: url("../images/cross/menu-cross-x2.png");
    background-size: 88px 88px; }
  /* line 18, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu:after {
    clear: both;
    display: table;
    height: 0;
    content: ""; }
  /* line 24, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li {
    list-style: none;
    display: inline-block;
    float: left; }
    /* line 28, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li ul {
      display: none; }
  /* line 32, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a {
    display: block;
    width: 88px;
    height: 88px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding-top: 60px;
    color: #9A9A9A;
    text-decoration: none;
    font-size: 14px; }
    /* line 44, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a .menu-icon {
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 50px;
      overflow: hidden; }
    /* line 54, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a .menu-icon .icon-hover {
      display: none; }
  /* line 59, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a .menu-icon img {
    width: 50px;
    height: 50px; }
  /* line 64, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a:hover,
  #block-system-main-menu > ul.menu > li.active-trail > a {
    background: #005589;
    color: white; }
    /* line 68, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a:hover .menu-icon .icon,
    #block-system-main-menu > ul.menu > li.active-trail > a .menu-icon .icon {
      display: none; }
    /* line 71, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a:hover .menu-icon .icon-hover,
    #block-system-main-menu > ul.menu > li.active-trail > a .menu-icon .icon-hover {
      display: block; }

/* line 79, ../sass/components/_main-menu.scss */
.cat-blue #block-system-main-menu > ul.menu > li > a:hover,
.cat-blue #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #027DBA; }

/* line 87, ../sass/components/_main-menu.scss */
.cat-green #block-system-main-menu > ul.menu > li > a:hover,
.cat-green #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #02AFA6; }

/* line 95, ../sass/components/_main-menu.scss */
.cat-orange #block-system-main-menu > ul.menu > li > a:hover,
.cat-orange #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #FF8F19; }

/* line 1, ../sass/components/_regions.scss */
.l-branding {
  width: 1020px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 22px auto 0; }

/* line 7, ../sass/components/_regions.scss */
.l-branding:after {
  content: "";
  clear: both;
  display: table;
  height: 0; }

/* line 1, ../sass/components/_side-menu.scss */
#block-menu-menu-side-menu {
  width: 76px;
  float: left;
  margin-left: 6px;
  padding-top: 5px; }
  /* line 7, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu .contextual-links-wrapper {
    display: none !important; }
  /* line 10, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 15, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li {
    list-style: none;
    border-bottom: solid 1px #9A9A9A; }
  /* line 19, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.last {
    border-bottom: none; }
  /* line 22, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li ul {
    display: none; }
  /* line 25, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li a {
    font-size: 12px;
    line-height: 32px;
    color: #9A9A9A;
    display: block;
    text-decoration: none; }
  /* line 32, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.first a {
    line-height: 24px; }
  /* line 35, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.last a {
    line-height: 28px; }

/* line 39, ../sass/components/_side-menu.scss */
#menu-search-link {
  background: url("../images/menu-side-icons/search.png") no-repeat right center; }

/* line 42, ../sass/components/_side-menu.scss */
#menu-atento-link {
  background: url("../images/menu-side-icons/play.png") no-repeat right center; }

/* line 45, ../sass/components/_side-menu.scss */
#menu-contact-link {
  background: url("../images/menu-side-icons/mail.png") no-repeat right 6px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 50, ../sass/components/_side-menu.scss */
  #menu-search-link,
  #menu-atento-link,
  #menu-contact-link {
    background-size: 15px 15px; }

  /* line 55, ../sass/components/_side-menu.scss */
  #menu-search-link {
    background-image: url("../images/menu-side-icons/search-x2.png"); }

  /* line 58, ../sass/components/_side-menu.scss */
  #menu-atento-link {
    background-image: url("../images/menu-side-icons/play-x2.png"); }

  /* line 61, ../sass/components/_side-menu.scss */
  #menu-contact-link {
    background-image: url("../images/menu-side-icons/mail-x2.png"); } }
/* line 1, ../sass/components/_sidebar-block.scss */
.sidebar-block {
  padding-bottom: 10px;
  border-bottom: solid 1px #9A9A9A;
  margin-bottom: 20px; }
  /* line 6, ../sass/components/_sidebar-block.scss */
  .sidebar-block h3 {
    margin-bottom: 5px; }
  /* line 9, ../sass/components/_sidebar-block.scss */
  .sidebar-block h3 a {
    font-weight: 600;
    font-family: 'Omnes Semibold';
    font-size: 18px;
    color: #999999;
    text-decoration: none; }
  /* line 16, ../sass/components/_sidebar-block.scss */
  .sidebar-block .body {
    font-size: 14px;
    color: #9A9A9A;
    line-height: 1.14em;
    margin-bottom: 5px; }
  /* line 22, ../sass/components/_sidebar-block.scss */
  .sidebar-block .cta a {
    color: #FF7900;
    font-weight: 600;
    font-family: 'Omnes Semibold';
    font-size: 14px;
    line-height: 1.14em;
    text-decoration: none; }

/* line 32, ../sass/components/_sidebar-block.scss */
.sidebar-block.last {
  border-bottom: none;
  margin-bottom: 0; }

/* line 1, ../sass/components/_subcategories.scss */
#block-menu-block-1 {
  background: #005589;
  clear: both;
  padding: 17px 0 14px; }
  /* line 5, ../sass/components/_subcategories.scss */
  #block-menu-block-1 .menu-block-wrapper {
    width: 1020px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto; }
  /* line 11, ../sass/components/_subcategories.scss */
  #block-menu-block-1 .menu-block-wrapper:after {
    clear: both;
    content: "";
    display: table;
    height: 0; }
  /* line 17, ../sass/components/_subcategories.scss */
  #block-menu-block-1 ul.menu:after {
    clear: both;
    content: "";
    display: table;
    height: 0; }
  /* line 23, ../sass/components/_subcategories.scss */
  #block-menu-block-1 ul.menu {
    list-style: none;
    display: table;
    margin: 0 -5px 0 0;
    text-align: right;
    float: right;
    background: url("../images/menu-cross.png");
    background-size: 88px 44px;
    padding: 5px; }
    /* line 33, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li {
      display: inline-block;
      text-align: left;
      float: left; }
    /* line 38, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li > a {
      display: table;
      width: 88px;
      height: 44px;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0; }
    /* line 49, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li > a span {
      display: table-cell;
      vertical-align: middle; }
    /* line 53, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li.active-trail > a,
    #block-menu-block-1 ul.menu > li > a:hover {
      background: white;
      color: #005589; }
    /* line 58, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li ul {
      display: none; }

/* line 65, ../sass/components/_subcategories.scss */
.cat-blue #block-menu-block-1 {
  background: #027DBA; }
  /* line 68, ../sass/components/_subcategories.scss */
  .cat-blue #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-blue #block-menu-block-1 ul.menu > li > a:hover {
    color: #027DBA; }

/* line 76, ../sass/components/_subcategories.scss */
.cat-green #block-menu-block-1 {
  background: #02AFA6; }
  /* line 79, ../sass/components/_subcategories.scss */
  .cat-green #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-green #block-menu-block-1 ul.menu > li > a:hover {
    color: #02AFA6; }

/* line 87, ../sass/components/_subcategories.scss */
.cat-orange #block-menu-block-1 {
  background: #FF8F19; }
  /* line 90, ../sass/components/_subcategories.scss */
  .cat-orange #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-orange #block-menu-block-1 ul.menu > li > a:hover {
    color: #FF8F19; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 100, ../sass/components/_subcategories.scss */
  #block-menu-block-1 ul.menu {
    background-image: url("../images/menu-cross-x2.png"); } }
/* line 4, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable h2,
.field-name-field-generic-intro h2,
.field-name-field-generic-body h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Omnes Semibold';
  line-height: 1.25em;
  color: #00426A; }
/* line 11, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable h3,
.field-name-field-generic-intro h3,
.field-name-field-generic-body h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Omnes Semibold';
  color: #636363; }
/* line 17, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable h4,
.field-name-field-generic-intro h4,
.field-name-field-generic-body h4 {
  font-size: 14px;
  line-height: 1.33em;
  color: #005589; }
/* line 22, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable p,
.field-name-field-generic-intro p,
.field-name-field-generic-body p {
  font-size: 18px;
  line-height: 1.33em; }
  /* line 25, ../sass/components/ckeditor/_ckeditor-content.scss */
  .cke_editable p a,
  .field-name-field-generic-intro p a,
  .field-name-field-generic-body p a {
    font-weight: 600;
    font-family: 'Omnes Semibold';
    text-decoration: none;
    color: #FF7900; }
/* line 32, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable *,
.field-name-field-generic-intro *,
.field-name-field-generic-body * {
  margin: 0; }
/* line 35, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable * + *,
.field-name-field-generic-intro * + *,
.field-name-field-generic-body * + * {
  margin-top: 22px; }
/* line 38, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable h2 + p,
.field-name-field-generic-intro h2 + p,
.field-name-field-generic-body h2 + p {
  margin-top: 0; }
/* line 41, ../sass/components/ckeditor/_ckeditor-content.scss */
.cke_editable hr,
.field-name-field-generic-intro hr,
.field-name-field-generic-body hr {
  background: #B3B3B3;
  border: 0;
  height: 1px;
  margin: 33px 0; }

/* line 49, ../sass/components/ckeditor/_ckeditor-content.scss */
.field-name-field-generic-intro + .field-name-field-generic-body {
  margin-top: 22px; }

/* line 1, ../sass/components/login/_not-logged-in.scss */
.not-logged-in {
  position: absolute;
  background: #F2F2F2;
  padding: 0 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  /* line 9, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-header {
    margin-bottom: 27px; }
  /* line 12, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-page-wrapper {
    width: 1020px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  /* line 21, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-page {
    min-height: 404px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -200px 0 0 0;
    width: 400px;
    padding: 45px 41px 40px;
    background: rgba(255, 255, 255, 0.93);
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box; }
  /* line 33, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .site-logo {
    margin-top: 0;
    width: 86px;
    height: 18px; }
  /* line 38, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-branding,
  .not-logged-in .l-main-inner,
  .not-logged-in .controls {
    width: auto;
    padding: 0; }
  /* line 44, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-branding {
    margin-top: 0; }
  /* line 48, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .breadcrumbs,
  .not-logged-in .l-footer,
  .not-logged-in .tabs.tabs--primary {
    display: none; }
  /* line 53, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-main-inner {
    border-bottom: none;
    margin-bottom: 0; }

/* line 61, ../sass/components/login/_not-logged-in.scss */
#user-login h1 {
  margin-top: 0;
  margin-bottom: 19px;
  font-family: 'Omnes Medium';
  font-weight: 500;
  font-size: 22px;
  color: #FF7900; }
/* line 69, ../sass/components/login/_not-logged-in.scss */
#user-login p {
  font-size: 13px;
  color: #636567;
  margin-bottom: 12px; }
/* line 74, ../sass/components/login/_not-logged-in.scss */
#user-login .form-item .description {
  display: none; }
/* line 77, ../sass/components/login/_not-logged-in.scss */
#user-login p.login-footer {
  font-size: 9px;
  line-height: 11px;
  color: #929497;
  margin-bottom: 0; }
/* line 83, ../sass/components/login/_not-logged-in.scss */
#user-login .form-actions {
  margin-top: 28px;
  margin-bottom: 51px; }

@media only screen and (max-width: 1020px) {
  /* line 90, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in {
    min-width: 420px; }
    /* line 92, ../sass/components/login/_not-logged-in.scss */
    .not-logged-in .l-page-wrapper {
      width: auto; } }
@media only screen and (max-height: 443px) {
  /* line 101, ../sass/components/login/_not-logged-in.scss */
  .not-logged-in .l-page {
    top: 0;
    bottom: 0;
    margin: 20px 0 20px 0; } }
/* line 3, ../sass/components/multicolumn-layout/_two-columns.scss */
.l-main-inner {
  width: 1020px;
  padding: 26px 26px 88px;
  margin: 0 auto 44px;
  box-sizing: border-box;
  border-bottom: solid 1px #CDCDCD; }

/* line 11, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .l-main-inner:after {
  content: "";
  display: table;
  height: 0;
  clear: both; }
/* line 17, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .colmask {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden; }
/* line 24, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .colleft {
  float: left;
  width: 200%;
  margin-left: -220px;
  position: relative;
  right: 100%;
  background: white; }
/* line 32, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns colleft:after {
  clear: both;
  content: "";
  display: table;
  height: 0; }
/* line 38, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .col1wrap {
  float: left;
  width: 50%;
  position: relative;
  left: 50%; }
/* line 44, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .l-content {
  margin: 0 0 0 220px;
  overflow: hidden; }
/* line 48, ../sass/components/multicolumn-layout/_two-columns.scss */
.two-columns .l-region--sidebar-second {
  float: right;
  width: 180px;
  position: relative;
  left: 220px; }

/* line 1, ../sass/components/subcategory-page/_accordion.scss */
.accordion {
  margin-top: 24px; }
  /* line 4, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item .accordion-content {
    display: none; }
    /* line 6, ../sass/components/subcategory-page/_accordion.scss */
    .accordion .accordion-item .accordion-content .accordion-inner {
      padding: 32px 0 78px; }
  /* line 12, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.last {
    border-bottom: solid 1px #CDCDCD; }
  /* line 16, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .field-name-field-title {
    border-top: solid 1px #CDCDCD;
    padding: 14px 0 7px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Omnes Semibold';
    color: #FF7900;
    cursor: pointer;
    position: relative; }
  /* line 27, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .field-name-field-title:after {
    content: "";
    width: 15px;
    height: 15px;
    background: url("../images/accordion-icons/opener.png") no-repeat;
    background-size: 15px 31px;
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px; }
  /* line 41, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item .body {
    font-size: 18px;
    color: #636363;
    line-height: 20px; }
  /* line 46, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item .body-top + .files {
    margin-top: 40px; }
  /* line 49, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item .files + .body-bottom {
    margin-top: 40px; }
  /* line 55, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.first .accordion-content {
    display: block; }
  /* line 58, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.first .field-name-field-title:after {
    background-position: 0 -16px; }
  /* line 65, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.off .accordion-content,
  .accordion .accordion-item.off.first .accordion-content {
    display: none; }
  /* line 68, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.off .field-name-field-title:after,
  .accordion .accordion-item.off.first .field-name-field-title:after {
    background-position: 0 0; }
  /* line 73, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.on .accordion-content {
    display: block; }
  /* line 76, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .accordion-item.on .field-name-field-title:after {
    background-position: 0 -16px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 84, ../sass/components/subcategory-page/_accordion.scss */
  .accordion .field-name-field-title:after {
    background-image: url("../images/accordion-icons/opener-x2.png"); } }
/* line 2, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page h1 {
  font-weight: 600;
  font-family: 'Omnes Semibold';
  font-size: 24px;
  line-height: 1.08em;
  color: #005589;
  margin-bottom: 33px; }
/* line 11, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .field-name-field-generic-intro,
.group-generic-page .field-name-field-generic-body {
  color: #636363; }
/* line 15, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .field-name-field-generic-intro {
  color: #005589; }
/* line 19, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .files {
  margin: 0 0 0; }
  /* line 21, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .files .file-preview {
    width: 220px;
    margin: 0 22px 56px;
    float: left; }
  /* line 26, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .files .file-preview.col-1 {
    margin-left: 0; }
  /* line 29, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .files .file-preview.col-3 {
    margin-right: 0; }
  /* line 32, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .files .file-preview.row-last {
    margin-bottom: 0; }
  /* line 35, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .files .file-thumbnail {
    height: 132px;
    position: relative; }
    /* line 38, ../sass/components/subcategory-page/_generic-page.scss */
    .group-generic-page .files .file-thumbnail img {
      display: block;
      width: 100%;
      height: auto; }
    /* line 43, ../sass/components/subcategory-page/_generic-page.scss */
    .group-generic-page .files .file-thumbnail .file-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      /* line 49, ../sass/components/subcategory-page/_generic-page.scss */
      .group-generic-page .files .file-thumbnail .file-info .file-info-inner {
        position: absolute;
        bottom: 0;
        padding: 12px; }
/* line 57, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .files:after {
  content: "";
  display: table;
  height: 0;
  clear: both; }
/* line 63, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page > .files {
  margin-top: 24px; }
/* line 66, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .file-info {
  background: rgba(0, 84, 138, 0.7);
  color: white;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  /* line 78, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info .data + .data {
    margin-top: 1em; }
  /* line 81, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info a {
    font-weight: 600;
    font-family: 'Omnes Semibold';
    color: white;
    text-decoration: none; }
  /* line 87, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info a.view,
  .group-generic-page .file-info a.download {
    padding-left: 25px;
    background: url("../images/file-icons/view.png") no-repeat left center;
    background-size: 11px 11px; }
  /* line 93, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info a.download {
    background-image: url("../images/file-icons/download.png"); }
  /* line 96, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info .extension {
    text-transform: uppercase; }
/* line 101, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .file-preview:hover .file-info {
  opacity: 1; }
/* line 106, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .file-title {
  font-size: 16px;
  line-height: 1em;
  margin-top: 42px;
  color: #636363; }
  /* line 111, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-title strong {
    color: #005589; }
/* line 116, ../sass/components/subcategory-page/_generic-page.scss */
.group-generic-page .file-thumbnail-inner {
  background: url("../images/file-icons/generic-file.png") no-repeat;
  background-size: 220px 132px;
  width: 220px;
  height: 132px;
  border: solid 1px #636363;
  box-sizing: border-box; }

/* line 128, ../sass/components/subcategory-page/_generic-page.scss */
.cat-blue .group-generic-page h1,
.cat-blue .group-generic-page .field-name-field-generic-intro {
  color: #027DBA; }
/* line 133, ../sass/components/subcategory-page/_generic-page.scss */
.cat-blue .file-info {
  background: rgba(2, 125, 186, 0.7); }
/* line 136, ../sass/components/subcategory-page/_generic-page.scss */
.cat-blue .file-title strong {
  color: #027DBA; }

/* line 142, ../sass/components/subcategory-page/_generic-page.scss */
.cat-green .group-generic-page h1,
.cat-green .group-generic-page .field-name-field-generic-intro {
  color: #02AFA6; }
/* line 147, ../sass/components/subcategory-page/_generic-page.scss */
.cat-green .file-info {
  background: rgba(2, 175, 166, 0.7); }
/* line 150, ../sass/components/subcategory-page/_generic-page.scss */
.cat-green .file-title strong {
  color: #02AFA6; }

/* line 156, ../sass/components/subcategory-page/_generic-page.scss */
.cat-orange .group-generic-page h1,
.cat-orange .group-generic-page .field-name-field-generic-intro {
  color: #FF8F19; }
/* line 161, ../sass/components/subcategory-page/_generic-page.scss */
.cat-orange .file-info {
  background: rgba(255, 143, 25, 0.7); }
/* line 164, ../sass/components/subcategory-page/_generic-page.scss */
.cat-orange .file-title strong {
  color: #FF8F19; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 172, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info a.view {
    background-image: url("../images/file-icons/view-x2.png"); }
  /* line 175, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-info a.download {
    background-image: url("../images/file-icons/download-x2.png"); }
  /* line 179, ../sass/components/subcategory-page/_generic-page.scss */
  .group-generic-page .file-thumbnail-inner {
    background-image: url("../images/file-icons/generic-file-x2.png"); } }
/* line 2, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.taxonomy-term.vocabulary-categories .landing-body {
  width: 304px;
  min-height: 291px;
  background: #005589;
  padding: 40px 50px 65px 42px;
  font-size: 36px;
  color: white;
  float: left; }

/* line 13, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
#block-atentom-taxonomy-children {
  margin-left: 435px;
  margin-right: -6px; }
  /* line 16, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    background: url("../images/cross/teaser-cross-dark-blue.png");
    background-size: 264px 132px;
    padding: 5px;
    font-size: 0; }
  /* line 26, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children li {
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    display: inline-block; }
    /* line 33, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a {
      display: block;
      padding: 27px 14px 34px 27px;
      cursor: pointer;
      width: 264px;
      min-height: 132px;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      color: #005589; }
      /* line 45, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .icon .icon {
        display: block; }
      /* line 48, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .icon .icon-hover {
        display: none; }
      /* line 51, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a > .icon {
        float: left;
        width: 70px;
        height: 70px;
        overflow: hidden; }
      /* line 57, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .title {
        margin-top: 18px;
        margin-left: 84px;
        display: table;
        vertical-align: middle;
        width: 90px;
        height: 36px; }
      /* line 65, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .title span {
        display: table-cell;
        vertical-align: middle; }
    /* line 70, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a .icon img {
      width: 70px;
      height: 70px; }
    /* line 74, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
      background: #005589;
      color: white; }
      /* line 78, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a:hover .icon .icon {
        display: none; }
      /* line 81, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a:hover .icon .icon-hover {
        display: block; }
  /* line 86, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children li.even {
    margin-right: 0; }

/* line 93, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue .taxonomy-term.vocabulary-categories .landing-body {
  background: #027DBA; }
/* line 100, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #027DBA; }
/* line 103, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #027DBA; }

/* line 112, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green .taxonomy-term.vocabulary-categories .landing-body {
  background: #02AFA6; }
/* line 119, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #02AFA6; }
/* line 122, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #02AFA6; }

/* line 131, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange .taxonomy-term.vocabulary-categories .landing-body {
  background: #FF8F19; }
/* line 138, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #FF8F19; }
/* line 141, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #FF8F19; }

/* line 151, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-blue.png"); }

/* line 158, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-green.png"); }

/* line 165, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-orange.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 173, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-dark-blue-x2.png"); }

  /* line 180, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-blue #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-blue-x2.png"); }

  /* line 187, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-green #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-green-x2.png"); }

  /* line 194, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-orange #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-orange-x2.png"); } }

/*# sourceMappingURL=atento.styles.css.map */
