/* Omnes Regular */
@font-face {
  font-family: 'Omnes';
  src: url("../fonts/omnes/Omnes.eot?") format("eot"), url("../fonts/omnes/Omnes.woff") format("woff"), url("../fonts/omnes/Omnes.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
/* Omnes SemiBold */
@font-face {
  font-family: 'Omnes';
  src: url("../fonts/omnes/Omnes-Semibold.eot?") format("eot"), url("../fonts/omnes/Omnes-Semibold.woff") format("woff"), url("../fonts/omnes/Omnes-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
/* FranklinGothic Book */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Book/ITCFranklinGothicStd-Book.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}
/* FranklinGothic Medium */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Med/ITCFranklinGothicStd-Med.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}
/* FranklinGothic Heavy */
/*@font-face {
  font-family: 'FranklinGothic'; 
  src: url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.eot?') format('eot'), url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.woff') format('woff'), url('../fonts/ITCFranklinGothicStd-Hvy/ITCFranklinGothicStd-Hvy.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}*/
/* line 1, ../sass/components/_body.scss */
body {
  min-width: 1020px;
  font-family: Omnes; }

/* line 1, ../sass/components/_breadcrumb.scss */
.breadcrumbs {
  list-style: none;
  padding: 15px 0;
  margin: 0;
  display: table; }
  /* line 6, ../sass/components/_breadcrumb.scss */
  .breadcrumbs li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: #9B9B9B;
    margin-right: 8px; }
    /* line 12, ../sass/components/_breadcrumb.scss */
    .breadcrumbs li a {
      color: #9B9B9B;
      text-decoration: none; }
  /* line 17, ../sass/components/_breadcrumb.scss */
  .breadcrumbs li.last {
    color: #005589;
    margin-right: 0; }
    /* line 20, ../sass/components/_breadcrumb.scss */
    .breadcrumbs li.last a {
      color: #005589; }

/* line 28, ../sass/components/_breadcrumb.scss */
.cat-blue .breadcrumbs li.last,
.cat-blue .breadcrumbs li.last a {
  color: #027DBA; }

/* line 36, ../sass/components/_breadcrumb.scss */
.cat-green .breadcrumbs li.last,
.cat-green .breadcrumbs li.last a {
  color: #02AFA6; }

/* line 44, ../sass/components/_breadcrumb.scss */
.cat-orange .breadcrumbs li.last,
.cat-orange .breadcrumbs li.last a {
  color: #FF8F19; }

/* line 1, ../sass/components/_content.scss */
.l-content-inner {
  width: 1020px;
  padding: 0 26px 44px;
  margin: 0 auto;
  box-sizing: border-box; }
  /* line 6, ../sass/components/_content.scss */
  .l-content-inner .l-content-inner-inner {
    border-bottom: solid 1px #CDCDCD;
    padding-bottom: 88px; }

/* line 1, ../sass/components/_footer.scss */
.l-footer {
  width: 1020px;
  padding: 0 26px 44px;
  box-sizing: border-box;
  margin: 0 auto; }
  /* line 6, ../sass/components/_footer.scss */
  .l-footer .l-region--footer:after {
    clear: both;
    content: "";
    height: 0;
    display: table; }

/* line 13, ../sass/components/_footer.scss */
#block-menu-block-2 {
  float: left;
  margin-left: 88px;
  padding-bottom: 44px; }
  /* line 18, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper:after {
    clear: both;
    content: "";
    display: table;
    height: 0; }
  /* line 24, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    /* line 28, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li {
      width: 132px;
      margin-right: 44px;
      float: left;
      list-style: none;
      box-sizing: border-box;
      padding-right: 20px; }
  /* line 38, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a {
    display: block;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #C9C9C9; }
    /* line 44, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .title {
      padding: 2px 0 3px; }
    /* line 48, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .menu-icon {
      position: relative;
      height: 50px;
      width: 50px;
      overflow: hidden;
      opacity: 0.49; }
    /* line 55, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .menu-icon img {
      width: 50px;
      height: 50px; }
    /* line 59, ../sass/components/_footer.scss */
    #block-menu-block-2 .menu-block-wrapper > ul.menu > li > a .icon-hover {
      display: none; }
  /* line 63, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 68, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li > ul {
    display: none; }
  /* line 71, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 76, ../sass/components/_footer.scss */
  #block-menu-block-2 .menu-block-wrapper > ul.menu > li > ul > li > a {
    display: block;
    padding: 3px 0;
    font-size: 14px;
    color: #C9C9C9;
    text-decoration: none; }

/* line 86, ../sass/components/_footer.scss */
#block-menu-menu-footer-side-menu {
  width: 132px;
  margin-right: 44px;
  float: right; }
  /* line 90, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 95, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li ul {
    display: none; }
  /* line 98, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 103, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu ul.menu li a {
    display: block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 52px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #C9C9C9;
    text-decoration: none; }
  /* line 115, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu a#footer-contact-us {
    background-image: url("../images/menu-icons/footer-contact-us.png"); }

/* line 120, ../sass/components/_footer.scss */
#block-block-1 {
  clear: both;
  float: right;
  width: 142px;
  margin-right: 34px; }
  /* line 125, ../sass/components/_footer.scss */
  #block-block-1 .block__content {
    color: #C9C9C9;
    font-size: 14px; }
    /* line 129, ../sass/components/_footer.scss */
    #block-block-1 .block__content a {
      text-decoration: none;
      color: #C9C9C9;
      font-size: 14px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 139, ../sass/components/_footer.scss */
  #block-menu-menu-footer-side-menu a#footer-contact-us {
    background-image: url("../images/menu-icons/footer-contact-us-x2.png"); } }
/* line 1, ../sass/components/_header.scss */
.l-branding {
  width: 1020px;
  padding: 0 30px;
  margin: 22px auto 0;
  box-sizing: border-box; }

/* line 7, ../sass/components/_header.scss */
.l-branding:after {
  content: "";
  clear: both;
  display: table;
  height: 0; }

/* line 13, ../sass/components/_header.scss */
.site-logo {
  margin-top: 32px;
  float: left;
  display: block; }

/* line 1, ../sass/components/_hero.scss */
#block-ds-extras-hero {
  min-width: 1020px;
  height: 198px;
  overflow: hidden; }
  /* line 6, ../sass/components/_hero.scss */
  #block-ds-extras-hero .block__content {
    position: relative; }
  /* line 9, ../sass/components/_hero.scss */
  #block-ds-extras-hero .info {
    width: 1020px;
    padding: 0 30px;
    box-sizing: border-box;
    left: 50%;
    margin-left: -510px;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 40px; }
  /* line 20, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-background {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -720px;
    z-index: 0; }
  /* line 28, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-icon {
    float: left;
    width: 80px; }
    /* line 31, ../sass/components/_hero.scss */
    #block-ds-extras-hero .hero-icon img {
      width: 70px;
      height: 70px; }
  /* line 36, ../sass/components/_hero.scss */
  #block-ds-extras-hero h1 {
    font-weight: 600;
    float: left;
    width: 247px;
    margin-right: 20px;
    color: #005589;
    font-size: 36px; }
  /* line 44, ../sass/components/_hero.scss */
  #block-ds-extras-hero .hero-body {
    font-size: 18px;
    float: left;
    width: 350px;
    color: #005589; }

/* line 54, ../sass/components/_hero.scss */
.cat-blue #block-ds-extras-hero h1,
.cat-blue #block-ds-extras-hero .hero-body {
  color: #027DBA; }

/* line 62, ../sass/components/_hero.scss */
.cat-green #block-ds-extras-hero h1,
.cat-green #block-ds-extras-hero .hero-body {
  color: #02AFA6; }

/* line 70, ../sass/components/_hero.scss */
.cat-orange #block-ds-extras-hero h1,
.cat-orange #block-ds-extras-hero .hero-body {
  color: #FF8F19; }

/* line 1, ../sass/components/_main-menu.scss */
.l-region--branding {
  float: right; }

/* line 4, ../sass/components/_main-menu.scss */
#block-system-main-menu {
  margin: 0 0 22px;
  text-align: right;
  float: left; }
  /* line 9, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu {
    list-style: none;
    margin: -5px -4px -5px -6px;
    padding: 5px 4px 5px 6px;
    display: table;
    text-align: left;
    background: url("../images/cross/menu-cross-x2.png");
    background-size: 88px 88px; }
  /* line 18, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li {
    list-style: none;
    display: inline-block; }
    /* line 21, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li ul {
      display: none; }
  /* line 25, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a {
    display: block;
    width: 88px;
    height: 88px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding-top: 60px;
    color: #9A9A9A;
    text-decoration: none;
    font-size: 14px; }
    /* line 37, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a .menu-icon {
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 50px;
      overflow: hidden; }
    /* line 47, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a .menu-icon .icon-hover {
      display: none; }
  /* line 52, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a .menu-icon img {
    width: 50px;
    height: 50px; }
  /* line 57, ../sass/components/_main-menu.scss */
  #block-system-main-menu > ul.menu > li > a:hover,
  #block-system-main-menu > ul.menu > li.active-trail > a {
    background: #005589;
    color: white; }
    /* line 61, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a:hover .menu-icon .icon,
    #block-system-main-menu > ul.menu > li.active-trail > a .menu-icon .icon {
      display: none; }
    /* line 64, ../sass/components/_main-menu.scss */
    #block-system-main-menu > ul.menu > li > a:hover .menu-icon .icon-hover,
    #block-system-main-menu > ul.menu > li.active-trail > a .menu-icon .icon-hover {
      display: block; }

/* line 72, ../sass/components/_main-menu.scss */
.cat-blue #block-system-main-menu > ul.menu > li > a:hover,
.cat-blue #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #027DBA; }

/* line 80, ../sass/components/_main-menu.scss */
.cat-green #block-system-main-menu > ul.menu > li > a:hover,
.cat-green #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #02AFA6; }

/* line 88, ../sass/components/_main-menu.scss */
.cat-orange #block-system-main-menu > ul.menu > li > a:hover,
.cat-orange #block-system-main-menu > ul.menu > li.active-trail > a {
  background: #FF8F19; }

/* line 1, ../sass/components/_regions.scss */
.l-branding {
  width: 1020px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 22px auto 0; }

/* line 7, ../sass/components/_regions.scss */
.l-branding:after {
  content: "";
  clear: both;
  display: table;
  height: 0; }

/* line 1, ../sass/components/_side-menu.scss */
#block-menu-menu-side-menu {
  width: 76px;
  float: left;
  margin-left: 6px;
  padding-top: 5px; }
  /* line 7, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu .contextual-links-wrapper {
    display: none !important; }
  /* line 10, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 15, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li {
    list-style: none;
    border-bottom: solid 1px #9A9A9A; }
  /* line 19, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.last {
    border-bottom: none; }
  /* line 22, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li ul {
    display: none; }
  /* line 25, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li a {
    font-size: 12px;
    line-height: 32px;
    color: #9A9A9A;
    display: block;
    text-decoration: none; }
  /* line 32, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.first a {
    line-height: 24px; }
  /* line 35, ../sass/components/_side-menu.scss */
  #block-menu-menu-side-menu ul.menu li.last a {
    line-height: 28px; }

/* line 39, ../sass/components/_side-menu.scss */
#menu-search-link {
  background: url("../images/menu-side-icons/search.png") no-repeat right center; }

/* line 42, ../sass/components/_side-menu.scss */
#menu-atento-link {
  background: url("../images/menu-side-icons/play.png") no-repeat right center; }

/* line 45, ../sass/components/_side-menu.scss */
#menu-contact-link {
  background: url("../images/menu-side-icons/mail.png") no-repeat right 6px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 50, ../sass/components/_side-menu.scss */
  #menu-search-link,
  #menu-atento-link,
  #menu-contact-link {
    background-size: 15px 15px; }

  /* line 55, ../sass/components/_side-menu.scss */
  #menu-search-link {
    background-image: url("../images/menu-side-icons/search-x2.png"); }

  /* line 58, ../sass/components/_side-menu.scss */
  #menu-atento-link {
    background-image: url("../images/menu-side-icons/play-x2.png"); }

  /* line 61, ../sass/components/_side-menu.scss */
  #menu-contact-link {
    background-image: url("../images/menu-side-icons/mail-x2.png"); } }
/* line 1, ../sass/components/_subcategories.scss */
#block-menu-block-1 {
  background: #005589;
  clear: both;
  padding: 17px 0 14px; }
  /* line 5, ../sass/components/_subcategories.scss */
  #block-menu-block-1 .menu-block-wrapper {
    width: 1020px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto; }
  /* line 11, ../sass/components/_subcategories.scss */
  #block-menu-block-1 .menu-block-wrapper:after {
    clear: both;
    content: "";
    display: table;
    height: 0; }
  /* line 17, ../sass/components/_subcategories.scss */
  #block-menu-block-1 ul.menu {
    list-style: none;
    display: table;
    margin: 0 -5px 0 0;
    text-align: right;
    float: right;
    background: url("../images/menu-cross.png");
    background-size: 88px 44px;
    padding: 5px; }
    /* line 27, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li {
      display: inline-block;
      text-align: left; }
    /* line 31, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li > a {
      display: table;
      width: 88px;
      height: 44px;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 12px;
      box-sizing: border-box;
      padding: 0; }
    /* line 42, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li > a span {
      display: table-cell;
      vertical-align: middle; }
    /* line 46, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li.active-trail > a,
    #block-menu-block-1 ul.menu > li > a:hover {
      background: white;
      color: #005589; }
    /* line 51, ../sass/components/_subcategories.scss */
    #block-menu-block-1 ul.menu > li ul {
      display: none; }

/* line 58, ../sass/components/_subcategories.scss */
.cat-blue #block-menu-block-1 {
  background: #027DBA; }
  /* line 61, ../sass/components/_subcategories.scss */
  .cat-blue #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-blue #block-menu-block-1 ul.menu > li > a:hover {
    color: #027DBA; }

/* line 69, ../sass/components/_subcategories.scss */
.cat-green #block-menu-block-1 {
  background: #02AFA6; }
  /* line 72, ../sass/components/_subcategories.scss */
  .cat-green #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-green #block-menu-block-1 ul.menu > li > a:hover {
    color: #02AFA6; }

/* line 80, ../sass/components/_subcategories.scss */
.cat-orange #block-menu-block-1 {
  background: #FF8F19; }
  /* line 83, ../sass/components/_subcategories.scss */
  .cat-orange #block-menu-block-1 ul.menu > li.active-trail > a,
  .cat-orange #block-menu-block-1 ul.menu > li > a:hover {
    color: #FF8F19; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 93, ../sass/components/_subcategories.scss */
  #block-menu-block-1 ul.menu {
    background-image: url("../images/menu-cross-x2.png"); } }
/* line 2, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.taxonomy-term.vocabulary-categories .landing-body {
  width: 304px;
  min-height: 291px;
  background: #005589;
  padding: 40px 50px 65px 42px;
  font-size: 36px;
  color: white;
  float: left; }

/* line 13, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
#block-atentom-taxonomy-children {
  margin-left: 435px;
  margin-right: -6px; }
  /* line 16, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    background: url("../images/cross/teaser-cross-dark-blue.png");
    background-size: 264px 132px;
    padding: 5px;
    font-size: 0; }
  /* line 26, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children li {
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    display: inline-block; }
    /* line 33, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a {
      display: block;
      padding: 27px 14px 34px 27px;
      cursor: pointer;
      width: 264px;
      min-height: 132px;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      color: #005589; }
      /* line 45, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .icon .icon {
        display: block; }
      /* line 48, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .icon .icon-hover {
        display: none; }
      /* line 51, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a > .icon {
        float: left;
        width: 70px;
        height: 70px;
        overflow: hidden; }
      /* line 57, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .title {
        margin-top: 18px;
        margin-left: 84px;
        display: table;
        vertical-align: middle;
        width: 90px;
        height: 36px; }
      /* line 65, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a .title span {
        display: table-cell;
        vertical-align: middle; }
    /* line 70, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a .icon img {
      width: 70px;
      height: 70px; }
    /* line 74, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
    #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
      background: #005589;
      color: white; }
      /* line 78, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a:hover .icon .icon {
        display: none; }
      /* line 81, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
      #block-atentom-taxonomy-children ul.taxonomy-children li a:hover .icon .icon-hover {
        display: block; }
  /* line 86, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children li.even {
    margin-right: 0; }

/* line 93, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue .taxonomy-term.vocabulary-categories .landing-body {
  background: #027DBA; }
/* line 100, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #027DBA; }
/* line 103, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #027DBA; }

/* line 112, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green .taxonomy-term.vocabulary-categories .landing-body {
  background: #02AFA6; }
/* line 119, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #02AFA6; }
/* line 122, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #02AFA6; }

/* line 131, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange .taxonomy-term.vocabulary-categories .landing-body {
  background: #FF8F19; }
/* line 138, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children li a {
  color: #FF8F19; }
/* line 141, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children li a:hover {
  color: white;
  background: #FF8F19; }

/* line 151, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-blue #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-blue.png"); }

/* line 158, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-green #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-green.png"); }

/* line 165, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
.cat-orange #block-atentom-taxonomy-children ul.taxonomy-children {
  background-image: url("../images/cross/teaser-cross-orange.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 173, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-dark-blue-x2.png"); }

  /* line 180, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-blue #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-blue-x2.png"); }

  /* line 187, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-green #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-green-x2.png"); }

  /* line 194, ../sass/components/taxonomy-landing/_taxonomy-landing.scss */
  .cat-orange #block-atentom-taxonomy-children ul.taxonomy-children {
    background-image: url("../images/cross/teaser-cross-orange-x2.png"); } }

/*# sourceMappingURL=atento.styles.css.map */
