.not-logged-in{
  position: absolute;
  background: #F2F2F2;
  padding: 0 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .l-header{
    margin-bottom: 27px;
  }
  .l-page-wrapper{
    width: $desktop-width;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .l-page{
    min-height: 404px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -200px 0 0 0;
    width: 400px;
    padding: 45px 41px 40px;
    background: rgba(255, 255, 255, 0.93);
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box;
  }
  .site-logo{
    margin-top: 0;
    width: 86px;
    height: 18px;
  }
  .l-branding, 
  .l-main-inner, 
  .controls{
    width: auto;
    padding: 0;
  }
  .l-branding{
    margin-top: 0;
  }
  
  .breadcrumbs, 
  .l-footer, 
  .tabs.tabs--primary{
    display: none;
  }
  .l-main-inner{
    border-bottom: none;
    margin-bottom: 0;
  }
}


#user-login{
  h1{
    margin-top: 0;
    margin-bottom: 19px;
    font-family: 'Omnes Medium';
    font-weight: 500;
    font-size: 22px;
    color: #FF7900;
  }
  p{
    font-size: 13px;
    color: #636567;
    margin-bottom: 12px;
  }
  .form-item .description{
    display: none;
  }
  p.login-footer{
    font-size: 9px;
    line-height: 11px;
    color: #929497;
    margin-bottom: 0;
  }
  .form-actions{
    margin-top: 28px;
    margin-bottom: 51px;
  }
}

@media only screen and (max-width: $desktop-width){
  .not-logged-in{
    min-width: 420px;
    .l-page-wrapper{
      width: auto;
    }

  }
}

@media only screen and (max-height: 443px) {
  .not-logged-in{
    .l-page{
      top: 0;
      bottom: 0;
      margin: 20px 0 20px 0;
    }
  }
}

@media only screen and (max-width: $tablet-width){
  .not-logged-in{
    min-width: 0;
    position: static;
    background: #FFFFFF !important;
    .l-header{
      margin-bottom: 0;
    }
    .l-page-wrapper{
      width: auto;
      position: static;
    }
    .l-page{
      min-height: 0;
      position: static;
      margin: 21px auto;
      width: 280px;
      padding: 100px 40px;
      background: #00416B;
    }
    .site-logo{
      margin-top: 0;
      width: 70px;
      height: 14px;
      background: url('../images/atento-white.png') no-repeat;
      background-size: 70px 14px;
      img{
        display: none;
      }
    }
    
    .l-branding{
      margin-bottom: 15px;
    }
  }
  
  
  #user-login{
    h1{
      font-size: 14px;
    }
    p{
      font-size: 9px;
      color: white;
    }
    p.login-footer{
      font-size: 6px;
      color: white;
    }
    .form-actions{
      margin-top: 18px;
      margin-bottom: 32px;
    }
  }
}