.not-logged-in{
  position: relative;
  background: #F2F2F2;
  padding: 0 0;
  .l-header{
    margin-bottom: 27px;
  }
  .l-page-wrapper{
    width: $desktop-width;
    margin: 0 auto;
    position: relative;
  }
  .l-page{
    margin: 194px 20px 0 auto;
    width: 400px;
    padding: 45px 41px 40px;
    background: white;
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box;
  }
  .site-logo{
    margin-top: 0;
    width: 86px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .l-branding, 
  .l-main-inner, 
  .controls{
    width: auto;
    padding: 0;
  }
  .l-branding{
    margin-top: 0;
  }
  
  .breadcrumbs, 
  .l-footer, 
  .tabs.tabs--primary{
    display: none;
  }
  .l-main-inner{
    border-bottom: none;
    margin-bottom: 0;
  }
}


#user-login{
  h1{
    margin-top: 0;
    margin-bottom: 19px;
    font-family: 'Omnes Medium';
    font-weight: 500;
    font-size: 22px;
    color: #FF7900;
  }
  p{
    font-size: 13px;
    color: #636567;
    margin-bottom: 12px;
  }
  .form-item .description{
    display: none;
  }
  p.login-footer{
    font-size: 9px;
    line-height: 11px;
    color: #929497;
    margin-bottom: 0;
  }
  .form-actions{
    margin-top: 28px;
    margin-bottom: 51px;
  }
}

@media only screen and (max-width: $desktop-width){
  .not-logged-in{
    min-width: 440px;
    .l-page-wrapper{
      width: auto;
    }
    .l-page{
      margin: 194px 20px 0 auto;
    }
  }
}
