.taxonomy-term.vocabulary-categories{
  .landing-body{
    width: 304px;
    min-height: 291px;
    background: $cat-dark-blue;
    padding: 40px 50px 65px 42px;
    font-size: 30px;
    color: white;
    float: left;
  }
}

#block-atentom-taxonomy-children{
  margin-left: 435px;
  margin-right: -6px;
  ul.taxonomy-children{
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    background: url("../images/cross/teaser-cross-dark-blue.png");
    background-size: 264px 132px;
    padding: 5px;
    font-size: 0;
  }
  ul.taxonomy-children li{
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    display: inline-block;
    
    a{
      display: block;
      padding: 27px 14px 34px 27px;
      cursor: pointer;
      width: 264px;
      min-height: 132px;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      color: $cat-dark-blue;
      
      .icon .icon{
        display: block;
      }
      .icon .icon-hover{
        display: none;
      }
      > .icon{
        float: left;
        width: 70px;
        height: 70px;
        overflow: hidden;
      }
      .title{
        margin-top: 18px;
        margin-left: 84px;
        display: table;
        vertical-align: middle;
        width: 90px;
        height: 36px;
      }
      .title span{
        display: table-cell;
        vertical-align: middle;
      }
    }
    a .icon img{
      width: 70px;
      height: 70px;
    }
    a:hover{
      background: $cat-dark-blue;
      color: white;
      
      .icon .icon{
        display: none;
      }
      .icon .icon-hover{
        display: block;
      }
    }
  }
  ul.taxonomy-children li.even{
    margin-right: 0;
  }
}

.cat-blue{
  .taxonomy-term.vocabulary-categories{
    .landing-body{
      background: $cat-blue;
    }
  }
  
  #block-atentom-taxonomy-children{
    ul.taxonomy-children li{      
      a{
        color: $cat-blue;
      }
      a:hover{
        color: white;
        background: $cat-blue;
      }
    }
  }
}
.cat-green{
  .taxonomy-term.vocabulary-categories{
    .landing-body{
      background: $cat-green;
    }
  }
  
  #block-atentom-taxonomy-children{
    ul.taxonomy-children li{      
      a{
        color: $cat-green;
      }
      a:hover{
        color: white;
        background: $cat-green;
      }
    }
  }
}
.cat-orange{
  .taxonomy-term.vocabulary-categories{
    .landing-body{
      background: $cat-orange;
    }
  }
  
  #block-atentom-taxonomy-children{
    ul.taxonomy-children li{      
      a{
        color: $cat-orange;
      }
      a:hover{
        color: white;
        background: $cat-orange;
      }
    }
  }
}

.cat-blue{
  #block-atentom-taxonomy-children{
    ul.taxonomy-children{
      background-image: url("../images/cross/teaser-cross-blue.png");
    }
  }
}
.cat-green{
  #block-atentom-taxonomy-children{
    ul.taxonomy-children{
      background-image: url("../images/cross/teaser-cross-green.png");
    }
  }
}
.cat-orange{
  #block-atentom-taxonomy-children{
    ul.taxonomy-children{
      background-image: url("../images/cross/teaser-cross-orange.png");
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #block-atentom-taxonomy-children{
    ul.taxonomy-children{
      background-image: url("../images/cross/teaser-cross-dark-blue-x2.png");
    }
  }
  
  .cat-blue{
    #block-atentom-taxonomy-children{
      ul.taxonomy-children{
        background-image: url("../images/cross/teaser-cross-blue-x2.png");
      }
    }
  }
  .cat-green{
    #block-atentom-taxonomy-children{
      ul.taxonomy-children{
        background-image: url("../images/cross/teaser-cross-green-x2.png");
      }
    }
  }
  .cat-orange{
    #block-atentom-taxonomy-children{
      ul.taxonomy-children{
        background-image: url("../images/cross/teaser-cross-orange-x2.png");
      }
    }
  }
}

@media only screen and (max-width: $tablet-width){
  .taxonomy-term.vocabulary-categories{
    .landing-body{
      width: auto;
      height: auto !important;
      float: none;
    }
    #block-atentom-taxonomy-children{
      margin-left: 0;
      margin-right: 0;
    }
  }
}