.taxonomy-term.vocabulary-categories{
  .landing-body{
    width: 304px;
    min-height: 291px;
    background: $cat-dark-blue;
    padding: 40px 50px 65px 42px;
    font-family: Omnes;
    font-size: 36px;
    color: white;
    float: left;
  }
}

#block-atentom-taxonomy-children{
  margin-left: 440px;
  ul.taxonomy-children{
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
  }
  ul.taxonomy-children li{
    list-style: none;
    padding: 0;
    margin: 0 0 2px 0;
    display: inline-block;
    
    a{
      display: block;
      padding: 27px 14px 34px 27px;
      cursor: pointer;
      width: 264px;
      min-height: 132px;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      font-family: Omnes;
      color: $cat-dark-blue;
      
      .icon .icon{
        display: block;
      }
      .icon .icon-hover{
        display: none;
      }
      > .icon{
        float: left;
        width: 70px;
        height: 70px;
        overflow: hidden;
      }
      .title{
        margin-top: 18px;
        margin-left: 84px;
        display: table;
        vertical-align: middle;
        width: 90px;
        height: 36px;
      }
      .title span{
        display: table-cell;
        vertical-align: middle;
      }
    }
    a:hover{
      background: $cat-dark-blue;
      color: white;
      
      .icon .icon{
        display: none;
      }
      .icon .icon-hover{
        display: block;
      }
    }
  }
  ul.taxonomy-children li.even{
    margin-right: 2px;
  }
}