.group-generic-page{
  h1{
    font-weight: 600;
    font-family: 'Omnes Semibold';
    font-size: 24px;
    line-height: 1.08em;
    color: $cat-dark-blue;
    margin-bottom: 33px;
  }
  
  .field-name-field-generic-intro, 
  .field-name-field-generic-body{
    color: #636363;
  }
  .field-name-field-generic-intro{
    color: $cat-dark-blue;
  }
  
  .files{
    margin: 0 0 0;
    .file-preview{
      width: 220px;
      margin: 0 22px 56px;
      float: left;
    }
    .file-preview.col-1{
      margin-left: 0;
      clear: left;
    }
    .file-preview.col-3{
      margin-right: 0;
    }
    .file-preview.row-last{
      margin-bottom: 0;
    }
    .file-thumbnail{
      height: 132px;
      position: relative;
      img{
        display: block;
        width: 100%;
        height: auto;
      }
      .file-info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .file-info-inner{
          position: absolute;
          bottom: 0;
          padding: 12px;
        }
      }
    }
  }
  .files:after{
    content: "";
    display: table;
    height: 0;
    clear: both;
  }
  > .files{
    margin-top: 24px;
  }
  .file-info{
    background: $cat-dark-blue-trans;
    color: white;
    font-size: 12px;
    
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    
    .data + .data{
      margin-top: 1em;
    }
    a{
      font-weight: 600;
      font-family: 'Omnes Semibold';
      color: white;
      text-decoration: none;
    }
    a.view, 
    a.download{
      padding-left: 25px;
      background: url("../images/file-icons/view.png") no-repeat left center;
      background-size: 11px 11px;
    }
    a.download{
      background-image: url("../images/file-icons/download.png");
    }
    .extension{
      text-transform: uppercase;
    }
  }
  .file-preview:hover{
    .file-info{
      opacity: 1;
    }
  }
  
  .file-title{
    font-size: 16px;
    line-height: 1em;
    margin-top: 42px;
    color: #636363;
    strong{
      color: $cat-dark-blue;
    }
  }
  
  .file-thumbnail-inner{
    background: url("../images/file-icons/generic-file.png") no-repeat;
    background-size: 220px 132px;
    width: 220px;
    height: 132px;
    border: solid 1px #636363;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.cat-blue{
  .group-generic-page{
    h1, 
    .field-name-field-generic-intro{
      color: $cat-blue;
    }
  }
  .file-info{
    background: $cat-blue-trans;
  }
  .file-title strong{
    color: $cat-blue;
  }
}
.cat-green{
  .group-generic-page{
    h1, 
    .field-name-field-generic-intro{
      color: $cat-green;
    }
  }
  .file-info{
    background: $cat-green-trans;
  }
  .file-title strong{
    color: $cat-green;
  }
}
.cat-orange{
  .group-generic-page{
    h1, 
    .field-name-field-generic-intro{
      color: $cat-orange;
    }
  }
  .file-info{
    background: $cat-orange-trans;
  }
  .file-title strong{
    color: $cat-orange;
  }
}

.disable-download{
  .download-option{
    display: none;
  }
}
.disable-view{
  .view-option{
    display: none;
  }
}
.disable-download.disable-view{
  .data-option{
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .group-generic-page{
    .file-info{
      a.view{
        background-image: url("../images/file-icons/view-x2.png");
      }
      a.download{
        background-image: url("../images/file-icons/download-x2.png");
      }
    }
    .file-thumbnail-inner{
      background-image: url("../images/file-icons/generic-file-x2.png");
    }
  }
}